body {
    width: 374px;
    height: 600px;
    background-color: #a69a8b;
    text-align: center;
    font: "Open Sans";
    font-size: 20px;
    max-height: 700px;
}

.logo {
    width: 100px;
    height: 100px;
}

.title {
    color: #e8e2d7;
}

.createdBy {
    color: #e8e2d7;
}

.ver {
    color: #e8e2d7;
}

.button-container {
    font: "Open Sans";
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 4px;
    padding: 0 9px;
}

.report-bug {
    background-color: #e8e2d7;
    color: #6a8fbf;
    border: none;
    border-radius: 6px;
    padding: 6px 12px;
    cursor: pointer;
}

.github {
    background-color: #e8e2d7;
    color: #6a8fbf;
    border: none;
    border-radius: 6px;
    padding: 6px 12px;
    cursor: pointer;
}
